<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>news</title>
    <link rel="stylesheet" href="{%static 'css/demo.css'%}">
</head>
<body>
    <h1>{{head_msg}}</h1>
    <ul>
        <li><h2>{{sub_msg1}}</h2></li>
        <li><h2>{{sub_msg2}}</h2></li>
        <li><h2>{{sub_msg3}}</h2></li>
    </ul>

    <img src="{%static 'images/sushant.jpg'%}" alt="">
    <img src="{%static 'images/yuvraj.jpg'%}" alt="">
    <img src="{%static 'images/saheb.jpg'%}" alt="">

</body>
</html>

